/* styles/fonts.css */

/* Mont-ExtraLight */
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

/* Mont-Light */
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Mont-Thin */
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

/* Mont-Regular */
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Mont-Medium -- Assumindo que Medium é tratado como SemiBold */
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* Mont-Bold */
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Mont-Heavy */
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

/* Mont-Black */
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* Mont-Book -- Assumindo um peso específico para Book */
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Book.otf') format('opentype');
  font-weight: 350; /* Este valor é um exemplo; ajuste conforme o peso real da fonte Book */
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-weight: normal;
  font-size: 100%;
  list-style: none;
  line-height: 1;
  outline: 0px;
  background: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: 'Mont', sans-serif;
}
.fade-in {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--white);
  font-family: 'Mont', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}